body {
	background: url(paintBackground.jpg)no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
	background-color: white;
	color: blue;
	font-size:65px;
}

input {
	width: 100%;
}

button {
	background-color: #ff9966;
	color: white;
	padding: 10px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	cursor: pointer;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  border: 20px dashed blue; 
}

.login {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #000000;
	border-radius: 10px;
	padding: 20px;
}

.logout {
	/* idk man still working on it  */
}
.projectiontext{
	text-align: center;
	font-size: 190px;
	color:black
	
}
